:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.logo {
  color: whitesmoke;
  font-weight: bold;
}

@media only screen and (max-width: 425px) {
  .logo {
    display: none;
  }
}

.dropdown-overlay {
  inset: 64px 0 0 0 !important;
}

.delete-icon:hover {
  color: red !important;
}

.post-form-container {
  padding: 50px;
  margin-top: 25px;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  border-radius: 6px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
